@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
}

body {
  font-family: "Courier New", Courier, monospace;
}

@layer components {
  .h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }
  .h2 {
    @apply scroll-m-20 border-b border-b-slate-200 text-3xl font-semibold tracking-tight transition-colors first:mt-0 dark:border-b-slate-700;
  }
  .center {
    @apply absolute top-[50%] left-[50%] transform -translate-x-2/4 -translate-y-2/4;
  }
  .center--top {
    @apply top-[24%];
  }
  .card {
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.6");
    box-shadow: theme("boxShadow.lg");
  }
  .card:hover {
    box-shadow: theme("boxShadow.xl");
  }
}

video {
  max-height: 100%;
  height: unset;
}
